{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container-fluid">
        <div class="row">
        
            {% include "sidebar-messaging.html" ignore missing %}    

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Messaging</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                        </button>
                    </div>
                </div>

                <form method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="fromUserEmail">Your Email Address</label>
                            <input type="email" class="form-control" id="fromUserEmail" value="{{user.email}}" disabled>
                            <input type="hidden" name="fromUser" value="{{user._id}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="toUser">Recipient Email</label>
                            <select class="form-control" id="toUser" name="toUser">
                                {% for user in users %}
                                <option value="{{user._id}}">{{user.email}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label for="message">Message to Send</label>
                    <textarea class="form-control" id="message" name="message" rows="5"></textarea>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>


            </main>
    
        </div>
    </div>
        
{% endblock %}