{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/style.css">
{% endblock %}

{% block body %}
<body>

    {% include "header.html" ignore missing %}

    <div class="container-fluid">
        <div class="row">
        
            {% include "sidebar-messaging.html" ignore missing %}    

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Messaging</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Share</button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                        </button>
                    </div>
                </div>

                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">From</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Received</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for message in messages %}
                        <tr id="{{message._id}}">
                            <td>{% if message.reply_status == 1 %}<span data-feather="repeat"></span>{% else %}&nbsp;{% endif %}</td>
                            <td class="{% if message.read_status == 0 %}unread{% endif %}">{{message.fromUser.email}}</td>
                            <td class="{% if message.read_status == 0 %}unread{% endif %}">{{message.subject}}</td>
                            <td class="{% if message.read_status == 0 %}unread{% endif %}">{{message.created}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </main>
    
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            $("tr").click(function() {
                console.log(this.id);
                window.location.href = "/messaging/" + this.id;
            })
        });
    
    </script>
    
{% endblock %}