<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">

        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link" href="/messaging">
                <span data-feather="home"></span>
                Messaging <span class="sr-only">(current)</span>
            </a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="/messaging/new">
                <span data-feather="mail"></span>
                New Message
            </a>
            </li>
            <li class="nav-item">
        </ul>

    </div>
</nav>
