<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link" href="/admin">
            <span data-feather="home"></span>
            Administrator <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/games">
                <span data-feather="server"></span>
                Game Settings
            </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="trending-up"></span>
            Bitcoin Settings
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
            Accounting Settings
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="layers"></span>
            Security Settings
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="bell"></span>
            Notification Settings
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="database"></span>
                Global Settings
            </a>
        </li>        
        <li class="nav-item">
            <a class="nav-link" href="/admin/players">
                <span data-feather="users"></span>
                Player Settings
            </a>
        </li>        
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Saved reports</span>
        <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Current month
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
        </a>
        </li>
    </ul>
    </div>
</nav>
